body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1f2937;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-around;
}

/*top link style*/
a{
    text-decoration: none;
}
ul{
    display: inline;  
}
li{
    display: inline;
    list-style: none;
    color: #e5e7eb;
    padding-right: 24px;
}
.top-links{
    margin-right: 16px;
    font-size: 18px;
}


/* all hero divs*/
.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*first container*/
.hero-text{
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 48px 48px 48px 48px;
    max-width: 300px;
}
h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
p {
    color: #e5e7eb;
}
button{
    align-self: flex-start;
    background-color: #3882f6;
    border-radius: 6px;
}
/*second container*/
.hero-img{
    background-color: #1f2937;
    justify-content: center;
    align-self: center;
    padding: 16px;
}
img{
    width: 250px;
}

.logo{
    height: 150px;
    width: 150px;
    margin-left: 16px;
}
.on-show img{
    height: 200px;
    width: 200px;
}

/*exhibit container*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Exhibits{
    display: flex;
    justify-content: center;
}
.exhibit-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.on-show{
    font-weight: 800;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*quote container*/
.quote{
    background-color: #e5e7eb;
    color: black;
    font-size: 36px;
    font-style: italic;
}

.quote p{
    color: #1f2937;
}
.footer{
    background-color: #1f2937;
    color: white;
    height: 32px;
    margin-top: auto;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}